# Ignore Python cache and virtual env
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/

# Ignore data/log/output
*.csv
*.log
output/
data/

# Ignore OS/system files
.DS_Store
Thumbs.db

# Ignore IDE/project settings
.vscode/
.idea/
*.iml

